.pricing-intro {
  width: 100%;
  margin: 80px 0;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.pricing-left {
  width: 50%;
  padding-bottom: 40px;
}

.pricing-left h2 {
  font-size: 38px;
  font-weight: bolder;
}

.pricing-right {
  width: 50%;
  padding-bottom: 40px;
}

.pricing-right p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

.pricing-options {
  display: flex;
  justify-content: center;
  /* padding: 80px 0; */
  margin-bottom: 50px;
}

.toggle-container {
  display: flex;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 10px;
  width: fit-content;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
}

.toggle-option {
  border: none;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.toggle-option.active {
  background-color: #ffa500; /* orange */
  color: white;
}
.pricing-container {
  display: flex;
  gap: 100px;
  justify-content: center;
  padding: 40px;
  flex-wrap: wrap;
  align-items: stretch; /* bu kartochkalarni teng balandlikda qiladi */
  background-color: #ffffff;
}

/* ggrgrtg */

.faq-section {
  padding: 80px 80px;
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  margin-top: 100px;
  margin-bottom: 100px;
}

.faq-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.faq-left {
  flex: 1 1 300px;
}

.faq-left h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.faq-left p {
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
}

.all-faqs-btn {
  padding: 10px 18px;
  font-size: 15px;
  background-color: #ffcc80;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px; /* Sizning sahifangizga mos keladigan o'lcham */
}

.faq-right {
  flex: 2 1 500px;
}
@media (max-width: 1214px) {
  .pricing-left h2 {
    font-size: 30px;
  }
  .pricing-right p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .pricing-intro {
    flex-direction: column;
    gap: 20px;
    gap: 20px;
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .pricing-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
  }
  .pricing-right {
    width: 100%;
    justify-content: center;
    padding: 5px;
  }
  .toggle-container {
    padding: 8px;
  }
  .toggle-option {
    padding: 8px 16px;
  }
  .pricing-options {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media (max-width: 470px) {
  .pricing-intro {
    padding: 20px;
    margin-top: 20px;
  }
  .pricing-left h2 {
    font-size: 26px;
  }
  .pricing-left {
    display: flex;
    justify-content: flex-start;
  }
  .pricing-options {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .pricing-container {
    gap: 30px;
  }
  .faq-section {
    margin: 20px 0;
    padding: 40px 40px;
  }
}
