.courses-intro {
  width: 100%;
  margin-top: 50px;
  padding: 80px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.courses-left {
  width: 50%;
}

.courses-left h2 {
  font-size: 38px;
  font-weight: bolder;
}

.courses-right {
  width: 50%;
}

.courses-right p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

.course-groups {
    margin-top: 100px;
    margin-bottom: 100px;
}

@media (max-width: 1214px) {
    .courses-left h2 {
      font-size: 30px;
    }
    .courses-right p {
      font-size: 14px;
    }
  }
  @media (max-width: 768px) {
    .courses-intro {
      flex-direction: column;
      gap: 20px;
      padding: 50px;
      margin-top: 30px;
    }
    
    .courses-left {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .courses-right {
      width: 100%;
    }
  }
  
  